<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/liga_nos_vamos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="modelo/dto/Liga.hbm.xml"/>
    <mapping resource="modelo/dto/Usuario.hbm.xml"/>
    <mapping resource="modelo/dto/EstadoUsuario.hbm.xml"/>
    <mapping resource="modelo/dto/Titular.hbm.xml"/>
    <mapping resource="modelo/dto/Equipo.hbm.xml"/>
    <mapping resource="modelo/dto/TipoUsuario.hbm.xml"/>
    <mapping resource="modelo/dto/Jugador.hbm.xml"/>
    <mapping resource="modelo/dto/Partido.hbm.xml"/>
    <mapping resource="modelo/dto/Premio.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
